.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 30rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffaa24;
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #ffaa24;
  border: 1px solid #ffaa24;
  border-radius: 4px;
  padding: 1rem 2.5rem;
}

.actions button:hover {
  background-color: #ffaa24;
  border-color: #ffaa24;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #ffaa24;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ffaa24;
}

mat-form-field {
  width: 80%;
}
