<section class="auth">
  <h1>Start Session</h1>

  <form [formGroup]="loginForm">

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="user1 or user2" required>
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="password" required type="password">
      </mat-form-field>
    </div>

    <div class="actions">
      <button (click)="submit()" [disabled]="submitDisabled" class="toogle" type="button">
        Start Session
      </button>
    </div>
  </form>
</section>
