.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.wrapper {
  display: flex;
  height: max-content;
  width: 75%;
  background-image:url("../../assets/img2/logoUPM.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right;
  border: 2px solid #ffb354;
  padding: 1rem;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: .5rem;
  padding: 1rem;
  border: 2px solid #ffb354;
  border-radius: 10px;
  background: white;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

table {
  width: 100%;
}
