<section class="center">
  <div class="window">
    <h1>Card Game</h1>
    <img src="./assets/img/barajaespanola.png" alt="image">
    <p class="lead">
      FENW | Master in Web Engineering
    </p>

    <hr class="my-4"/>
    <p id="goals">
      Objectives :
    </p>
    <ul>
      <li>Graphic interface design - HTML & CSS + BootStrap</li>
      <li>Client Execution - JavaScript, Ajax & JQuery</li>
    </ul>
    <img width="30%"  class="img-responsive" src="./assets/img/logoMIW.png" alt="image" >

  </div>
</section>
