mat-form-field {
  margin-right: 12px;
}


.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 30rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #6f45ad;
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 1rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

button:disabled:hover,
button:disabled:active {
  color: #37343f;
  background-color: #b2adbe;
  border-color: #ab9dce;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

mat-form-field {
  width: 80%;
}
